Repository Graceli95/Agentic_Customer_Project1: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, pytest

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npx eslint . --ext .ts,.tsx --max-warnings=0'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

pytest:
  name: Pytest (Backend)
  entry: bash -c 'cd backend && source venv/bin/activate && pytest tests/ -v --tb=short'
  language: system
  pass_filenames: false

feat(phase5): Complete Tasks 7-8 - RAG/CAG testing
  backend/agents/tools/rag_tools.py
  backend/tests/test_rag_tools.py
Due: pytest

feat(phase5): Complete Tasks 9-10 - Comprehensive RAG/CAG documentation
  PHASE5_RAG_CAG_GUIDE.md
Due: none

feat(phase6): Add AWS Bedrock Nova Lite for supervisor routing
  AWS_BEDROCK_SETUP.md
  backend/agents/supervisor_agent.py
  backend/requirements.txt
Due: pytest

feat(phase6): Add Server-Sent Events (SSE) streaming endpoint
  backend/main.py
Due: pytest

fix(phase6): Add type guard for streaming event content access
  frontend/components/ChatInterface.tsx
Due: eslint, typescript

docs(phase6): Complete Phase 6 - Multi-Provider LLMs & Streaming
  PHASE6_COMPLETION_SUMMARY.md
  frontend/lib/api.ts
Due: eslint, typescript

docs: Update README to reflect Phase 6 MVP completion
  README.md
Due: none

docs: Add comprehensive submission checklist
  SUBMISSION_CHECKLIST.md
Due: none

docs: Add comprehensive demo guide for video recording
  DEMO_GUIDE.md
Due: none

docs: Add comprehensive project status document
  PROJECT_STATUS.md
Due: none

docs: Add RESUME_HERE quick reference for project resumption
  RESUME_HERE.md
Due: none

docs: Organize documentation files into docs/ folder
  CHANGELOG.md
  PROJECT_STATUS.md
  QUICK_FIX_REFERENCE.md
  TROUBLESHOOTING_NO_RESPONSE.md
  backend/main.py
  docs/DEMO_GUIDE.md
  docs/PHASE3_COMPLETION_REVIEW.md
  docs/PHASE3_MULTI_AGENT_DEMO_GUIDE.md
  docs/PHASE4_COMPLETION_REVIEW.md
  docs/PHASE4_QUICK_START.md
  docs/PHASE4_VIDEO_DEMO_SCRIPT.md
  docs/PHASE5_QUICK_START.md
  docs/PHASE5_RAG_CAG_GUIDE.md
  docs/PHASE6_COMPLETION_SUMMARY.md
  docs/PHASED_DEVELOPMENT_GUIDE.md
  docs/RESUME_HERE.md
  docs/SUBMISSION_CHECKLIST.md
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/ChatInterface.tsx
  frontend/components/MessageList.tsx
  frontend/lib/api.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: eslint, typescript, pytest

fix: Resolve billing agent JSON schema error and NumPy 2.0 compatibility
  backend/agents/tools/rag_tools.py
  backend/requirements.txt
  frontend/app/page.tsx
  frontend/components/ChatInterface.tsx
  frontend/components/MessageInput.tsx
  frontend/components/MessageList.tsx
Due: eslint, typescript, pytest

docs: Update all README files to reflect Phase 6 complete status
  ARCHITECTURE.md
  FLOWCHARTS.md
  PROJECT_STATUS.md
  README.md
  backend/README.md
  backend/agents/tools/rag_tools.py
  backend/agents/workers/billing_support.py
  backend/tests/test_billing_worker.py
  frontend/README.md
  frontend/components/ChatInterface.tsx
  frontend/components/README.md
  frontend/lib/README.md
Due: eslint, typescript, pytest

docs: Add missing worker agents to README project structure
  README.md
Due: none

feat: Improve streaming with token-level events and accurate UI status
  backend/main.py
  frontend/components/ChatInterface.tsx
  frontend/components/MessageInput.tsx
  frontend/components/MessageList.tsx
Due: eslint, typescript, pytest

Path conditions:
  eslint: any of: ^frontend/.*\.(ts|tsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  pytest: any of: ^backend/.*\.py$
