Repository Graceli95/Agentic_Customer_Project1: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, pytest

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npx eslint . --ext .ts,.tsx --max-warnings=0'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

pytest:
  name: Pytest (Backend)
  entry: bash -c 'cd backend && source venv/bin/activate && pytest tests/ -v --tb=short'
  language: system
  pass_filenames: false

docs: add comprehensive development guide
  DEVELOPMENT.md
Due: none

feat: ensure local tests match CI exactly
  CI_VERIFICATION.md
  Makefile
  scripts/test-all.sh
Due: none

docs: add comprehensive manual testing guide (Task 5.3)
  MANUAL_TESTING.md
  tasks/tasks-0002-prd-simple-agent-foundation.md
Due: none

docs: update backend README with Phase 2 documentation (Task 5.4)
  backend/README.md
  tasks/tasks-0002-prd-simple-agent-foundation.md
Due: none

docs: update root README with Phase 2 completion (Task 5.5) 🎉
  README.md
  tasks/tasks-0002-prd-simple-agent-foundation.md
Due: none

docs: create Phase 3 PRD and task list (Multi-Agent Supervisor)
  tasks/0003-prd-multi-agent-supervisor.md
  tasks/tasks-0003-prd-multi-agent-supervisor.md
Due: none

feat: create supervisor agent with routing logic (Task 1.1)
  backend/agents/__init__.py
  backend/agents/supervisor_agent.py
  tasks/tasks-0003-prd-multi-agent-supervisor.md
Due: pytest

feat: export supervisor agent from agents package (Task 1.2)
  backend/agents/__init__.py
  tasks/tasks-0003-prd-multi-agent-supervisor.md
Due: pytest

feat: create technical support worker agent (Task 2.1)
  backend/agents/workers/technical_support.py
  tasks/tasks-0003-prd-multi-agent-supervisor.md
Due: pytest

feat: wrap technical worker as tool for supervisor (Task 2.2)
  backend/agents/workers/technical_support.py
  tasks/tasks-0003-prd-multi-agent-supervisor.md
Due: pytest

feat: export technical worker and tool from workers package (Task 2.3)
  backend/agents/workers/__init__.py
  tasks/tasks-0003-prd-multi-agent-supervisor.md
Due: pytest

feat: integrate supervisor agent with main API (Task 3.1)
  backend/main.py
  tasks/tasks-0003-prd-multi-agent-supervisor.md
Due: pytest

feat(phase3): add routing logging to track supervisor decisions
  backend/main.py
  backend/test_routing_logs.sh
  tasks/tasks-0003-prd-multi-agent-supervisor.md
Due: pytest

test(phase3): add comprehensive supervisor agent unit tests
  backend/tests/test_supervisor.py
  tasks/tasks-0003-prd-multi-agent-supervisor.md
Due: pytest

test(phase3): add comprehensive technical worker unit tests
  backend/tests/test_technical_worker.py
  tasks/tasks-0003-prd-multi-agent-supervisor.md
Due: pytest

test: Add Phase 3 routing integration tests
  PHASE3_MULTI_AGENT_DEMO_GUIDE.md
  backend/tests/test_main.py
  tasks/tasks-0003-prd-multi-agent-supervisor.md
Due: pytest

docs: Update backend README with Phase 3 multi-agent architecture
  backend/README.md
Due: none

docs: Update root README with Phase 3 completion status
  README.md
  tasks/tasks-0003-prd-multi-agent-supervisor.md
Due: none

docs: Update MANUAL_TESTING.md with Phase 3 routing scenarios
  MANUAL_TESTING.md
  tasks/tasks-0003-prd-multi-agent-supervisor.md
Due: none

docs: Add Phase 3 completion review document
  PHASE3_COMPLETION_REVIEW.md
Due: none

docs: Add Phase 4 PRD and task lists (original + compressed)
  tasks/0004-prd-additional-workers.md
  tasks/tasks-0004-prd-additional-workers-COMPRESSED.md
  tasks/tasks-0004-prd-additional-workers.md
Due: none

docs: Add Phase 4 Quick Start guide for tight deadline
  PHASE4_QUICK_START.md
Due: none

feat(phase4): Create billing support worker with tool wrapper (Task 1.1)
  backend/agents/workers/billing_support.py
Due: pytest

feat(phase4): Create compliance worker with tool wrapper (Task 1.2)
  backend/agents/workers/compliance.py
Due: pytest

feat(phase4): Create general information worker with tool wrapper (Task 1.3)
  backend/agents/workers/general_info.py
Due: pytest

feat(phase4): Export all 3 new workers from workers package (Task 2.1)
  backend/agents/workers/__init__.py
Due: pytest

feat(phase4): Integrate all 4 workers with supervisor (Task 3.1)
  backend/agents/supervisor_agent.py
Due: pytest

fix: Change absolute imports to relative imports in agents package
  backend/agents/__init__.py
  backend/agents/supervisor_agent.py
  backend/agents/workers/__init__.py
Due: pytest

feat(phase4): Add comprehensive unit tests for billing worker (Task 4.1)
  backend/conftest.py
  backend/tests/test_billing_worker.py
Due: pytest

feat(phase4): Add unit tests for compliance and general info workers (Tasks 4.2 & 4.3)
  backend/tests/test_compliance_worker.py
  backend/tests/test_general_info_worker.py
Due: pytest

feat(phase4): Add integration tests for Phase 4 multi-agent routing (Task 5.1)
  backend/tests/test_main.py
Due: pytest

feat(phase4): Update documentation for Phase 4 completion (Tasks 6.1-6.2)
  README.md
  backend/README.md
Due: none

docs: Add Phase 4 completion review document
  PHASE4_COMPLETION_REVIEW.md
Due: none

docs: Add Phase 4 video demo script
  PHASE4_VIDEO_DEMO_SCRIPT.md
Due: none

docs: Add Phase 5 PRD and task lists (original + compressed)
  tasks/0005-prd-rag-cag-integration.md
  tasks/tasks-0005-prd-rag-cag-integration-COMPRESSED.md
  tasks/tasks-0005-prd-rag-cag-integration.md
Due: none

docs: Add Phase 5 quick start guide
  PHASE5_QUICK_START.md
Due: none

feat(phase5): Task 1 - Infrastructure + Sample Documents complete
  backend/README.md
  backend/agents/workers/billing_support.py
  backend/data/docs/billing/pricing-plans.md
  backend/data/docs/billing/refund-policy.md
  backend/data/docs/compliance/privacy-policy.md
  backend/data/docs/compliance/terms-of-service.md
  backend/data/docs/general/about-company.md
  backend/data/docs/general/service-overview.md
  backend/data/docs/technical/error-codes.md
  backend/data/docs/technical/troubleshooting.md
  backend/data/document_loader.py
  backend/data/vectorstore.py
  backend/main.py
  backend/requirements.txt
  backend/scripts/index_documents.py
  frontend/app/page.tsx
Due: eslint, typescript, pytest

feat(phase5): Complete Task 1 - RAG/CAG infrastructure
  backend/data/document_loader.py
  backend/scripts/index_documents.py
Due: pytest

feat(phase5): Complete Task 2 - RAG/CAG tools with 3 strategies
  backend/agents/tools/__init__.py
  backend/agents/tools/rag_tools.py
Due: pytest

feat(phase5): Complete Tasks 3-6 - Worker integration with RAG/CAG tools
  backend/agents/workers/billing_support.py
  backend/agents/workers/compliance.py
  backend/agents/workers/general_info.py
  backend/agents/workers/technical_support.py
Due: pytest

Path conditions:
  eslint: any of: ^frontend/.*\.(ts|tsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  pytest: any of: ^backend/.*\.py$
